<div class="post-container">
    <article class="post">
      <div id="container"></div>
    </article>
</div>


<link rel="stylesheet" href="https://jjeejj.github.io/css/gitment.css">
<script src="https://www.wenjunjiang.win/js/gitment.js"></script>

<script>
var gitment = new Gitment({
  id: '<%= page.title %>', // 可选。默认为 location.href
  owner: 'ubuntuvim',
  repo: 'ubuntuvim.github.io',
  oauth: {
    client_id: '48b3df0bf4ba1743e0a3',
    client_secret: '4cf1e76de9e18b9ad0def477c36ab22059b152c8'
  }
});
gitment.render('container');
</script>

